html,
body {
  margin: 0;
  padding: 0;
  font-family: "Mali", cursive;
  background-color: #f9f6e5;
}

.navbar {
  background-color: #a07462;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  color: #f9f6e5;
  padding: 10px;
  padding-left: 3cm;
  margin-right: 1cm;
}
.navmenu {
  font-size: 22px;
  text-decoration: none;
  display: inline-block;
  color: #f9f6e5;
  margin-left: 20px;
  margin-right: 20px;
}

.page-name {
  /* margin-top: 3cm; */
  /* margin-left: 11cm; */
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5cm;
  color: #a07462;
}
.main-content {
  margin-top: 1cm;
  margin-left: auto;
  margin-right: auto;
}

.team-main-box {
  max-width: 900px;
  min-height: 250px;
  max-height: 300px;
  /* background-color: #a07462; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1cm;
}
.team-box {
  /* border: 1px solid #000000; */
  background-color: wheat;
  margin: 10px;
  width: 25%;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.team-text {
  background-color: #a07462;
  color: #f9f6e5;
  padding: 13px;
  margin-top: -5px;
}

/* bottom-part */
.under-cover {
  max-width: 900px;
  min-height: 225px;
  max-height: 270px;
  /* background-color: #a07462; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1cm;
}
/* left */

.under-left {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  background-color: wheat;
  border-radius: 15px;
  overflow: hidden;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
}
.text-add-name {
  background-color: #a07462;
  width: 100%;
  text-align: center;
  height: 25%;
  margin-top: -24px;
}
.add-text {
  color: #f9f6e5;
  font-size: 20px;
  padding-top: 15px;
}

.text-area-box {
  max-height: 50%;
  background-color: wheat;
  /* align-items: center;
  text-align: center;
  justify-content: center; */
  /* margin-top: -24px; */

  margin-bottom: 10px;
  padding-top: 10px;
}

.text-area {
  max-width: 80%;
  margin-left: 20px;
}
.random-button-box {
  height: 25%;
  margin-top: 15px;
}
.random-button {
  width: 80%;
  min-height: 40px;
  border-radius: 15px;
  background-color: #a07462;
  color: #f9f6e5;
  border: 1px solid white;
  margin-left: 20px;
}

.input-left-part {
  width: 60%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input-right-part {
  width: 40%;
  padding-left: 15px;
  padding-top: 15px;
}

/* right */
.under-right {
  width: 50%;
  background-color: wheat;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.text-how-to {
  text-align: center;
}

.how-to-content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px;
}
