html,
body {
  margin: 0;
  padding: 0;
  font-family: "Mali", cursive;
  background-color: #f9f6e5;
}

.navbar {
  background-color: #a07462;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  color: #f9f6e5;
  padding: 10px;
  padding-left: 3cm;
  margin-right: 1cm;
}
.navmenu {
  font-size: 22px;
  text-decoration: none;
  display: inline-block;
  color: #f9f6e5;
  margin-left: 20px;
  margin-right: 20px;
}

.banner {
  max-width: 930px;
  height: 350px;
  background-color: #83d6e7;
  margin-top: 3cm;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px 30px 15px 15px;
  overflow: hidden;
}
.banner_img {
  width: 100%;
}

.menu-flexbox {
  text-decoration: none;
  align-items: center;
  margin-top: 1cm;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  background-color: #f9f6e5;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  max-width: 1000px;
}

.menu-box {
  display: flex;
  margin: 1cm;
  background-color: #ffb2a5;
  width: 30%;
  min-height: 200px;
  max-height: 300px;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.menubox-img {
  max-width: 237px;
  max-height: 200px;
  width: 100%;
}

/* for slider  */
.slider {
  max-width: 930px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 3cm;
  margin-left: auto;
  margin-right: auto;
}
.slides {
  width: 500%;
  height: 350px;
  display: flex;
}

.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  max-width: 930px;
  height: 350px;
}
/* css for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 930px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #ffb2a5;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/* css for automatic navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 930px;
  justify-content: center;
  margin-top: 310px;
}

.navigation-auto div {
  border: 2px solid #ffb2a5;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #83d6e7;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #83d6e7;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #83d6e7;
}
/* end */
